[submodule "submodules/Lambda"]
	path = submodules/Lambda
	url = git@github.com:8-Lambda-8/adventOfCode.git
[submodule "submodules/noahreinalter"]
	path = submodules/noahreinalter
	url = https://github.com/noahreinalter/advent_of_code
[submodule "submodules/UnHold"]
	path = submodules/UnHold
	url = git@github.com:UnHolds/AdventOfCode.git
[submodule "submodules/alexl4123"]
	path = submodules/alexl4123
	url = git@github.com:alexl4123/advent_of_code.git
[submodule "submodules/xiretza"]
	path = submodules/xiretza
	url = https://git.it-syndikat.org/xiretza/advent-of-code.git
[submodule "submodules/ulmer-a"]
	path = submodules/ulmer-a
	url = https://github.com/ulmer-a/advent-of-code
