[submodule "submodules/Lambda"]
	path = submodules/Lambda
	url = git@github.com:8-Lambda-8/adventOfCode.git
[submodule "submodules/noahreinalter"]
	path = submodules/noahreinalter
	url = https://github.com/noahreinalter/advent_of_code
